In [38]:
import pandas as pd
import numpy as np

In [39]:
bdd = pd.read_csv('paruvendu_bdd.csv')

In [40]:
bdd.head()

,Unnamed: 0,Bien,Pieces,Taille,Prix,Ville,Code_Postal,Annonceur,Description
0,0,Appartement,1.0,35.0,260 000,Alfortville,94140.0,Professionnel,Superbe studio spacieux et fonctionnel hyper c...
1,1,Maison,3.0,66.0,140 000,Beton-Bazoches,77320.0,Professionnel,Maison familiale 3 pièces avec cheminée. maiso...
2,2,Maison,4.0,179.0,222 000,La Ferté-sous-Jouarre,77260.0,Professionnel,"Atypique maison briarde, logement à l'étage av..."
3,3,Appartement,3.0,70.0,475 000,Bezons,95870.0,Professionnel,Appartement 3 pièces. appartement t3 récent de...
4,4,Maison,7.0,185.0,1 200 000,La Celle-Saint-Cloud,78170.0,Professionnel,Maison la celle saint cloud 7 pièce(s) 185 m2....

In [41]:
# Nombre de lignes et de colonnes du DataFrame
bdd.shape

(12500, 9)

In [42]:
#Description du Index
bdd.index

RangeIndex(start=0, stop=12500, step=1)

In [43]:
#Les colonnes du DataFrame
bdd.columns

Index(['Unnamed: 0', 'Bien', 'Pieces', 'Taille', 'Prix', 'Ville',
       'Code_Postal', 'Annonceur', 'Description'],
      dtype='object')

In [44]:
#Compte de données non nulles
bdd.count()

Unnamed: 0     12500
Bien           12500
Pieces         12456
Taille         12403
Prix           12500
Ville          11292
Code_Postal    12498
Annonceur      12500
Description    12500
dtype: int64

In [45]:
#Statistique du DataFrame, com quartis, mediane, etc.
bdd.describe()

         Unnamed: 0        Pieces        Taille   Code_Postal
count  12500.000000  12456.000000  12403.000000  12498.000000
mean    6749.460000      4.042710     94.476981  78796.633381
std     3897.270818      1.972335     68.385293  27285.818587
min        0.000000      1.000000      1.000000      1.000000
25%     3374.750000      3.000000     57.000000  77480.000000
50%     6749.500000      4.000000     79.000000  91330.000000
75%    10124.250000      5.000000    116.000000  93340.000000
max    13499.000000     14.000000   2200.000000  95880.000000

In [46]:
bdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12500 entries, 0 to 12499
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   12500 non-null  int64
 1   Bien         12500 non-null  object
 2   Pieces       12456 non-null  float64
 3   Taille       12403 non-null  float64
 4   Prix         12500 non-null  object
 5   Ville        11292 non-null  object
 6   Code_Postal  12498 non-null  float64
 7   Annonceur    12500 non-null  object
 8   Description  12500 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 879.0+ KB

In [47]:
#renvoie le nombre total de valeurs manquantes
bdd.isnull().sum().sum()

1351

In [48]:
#compter le nombre de valeurs manquantes.
bdd.isnull().sum()

Unnamed: 0        0
Bien              0
Pieces           44
Taille           97
Prix              0
Ville          1208
Code_Postal       2
Annonceur         0
Description       0
dtype: int64

In [49]:
#pourcentage de valeurs manquantes
bdd.isna().mean()

Unnamed: 0     0.00000
Bien           0.00000
Pieces         0.00352
Taille         0.00776
Prix           0.00000
Ville          0.09664
Code_Postal    0.00016
Annonceur      0.00000
Description    0.00000
dtype: float64

In [50]:
#drop les lignes s'il y a une valeur NaN :
clean_bdd = bdd.dropna()

In [ ]:
#drop colonne Unnamed
clean_bdd.drop(columns=['Unnamed: 0'], inplace = True)

In [52]:
clean_bdd.head()

,Bien,Pieces,Taille,Prix,Ville,Code_Postal,Annonceur,Description
0,Appartement,1.0,35.0,260 000,Alfortville,94140.0,Professionnel,Superbe studio spacieux et fonctionnel hyper c...
1,Maison,3.0,66.0,140 000,Beton-Bazoches,77320.0,Professionnel,Maison familiale 3 pièces avec cheminée. maiso...
2,Maison,4.0,179.0,222 000,La Ferté-sous-Jouarre,77260.0,Professionnel,"Atypique maison briarde, logement à l'étage av..."
3,Appartement,3.0,70.0,475 000,Bezons,95870.0,Professionnel,Appartement 3 pièces. appartement t3 récent de...
4,Maison,7.0,185.0,1 200 000,La Celle-Saint-Cloud,78170.0,Professionnel,Maison la celle saint cloud 7 pièce(s) 185 m2....

In [53]:
#removes duplicate rows based on all columns
bdd_duplicates = clean_bdd.drop_duplicates()

In [ ]:
#bdd_duplicates = bdd_duplicates.replace([np.inf, -np.inf], np.nan)
bdd_duplicates['Prix'] = bdd_duplicates['Prix'].str.replace(' ', '')

In [55]:
bdd_duplicates.dtypes

Bien            object
Pieces         float64
Taille         float64
Prix            object
Ville           object
Code_Postal    float64
Annonceur       object
Description     object
dtype: object

In [56]:
bdd_duplicates.head()

,Bien,Pieces,Taille,Prix,Ville,Code_Postal,Annonceur,Description
0,Appartement,1.0,35.0,260000,Alfortville,94140.0,Professionnel,Superbe studio spacieux et fonctionnel hyper c...
1,Maison,3.0,66.0,140000,Beton-Bazoches,77320.0,Professionnel,Maison familiale 3 pièces avec cheminée. maiso...
2,Maison,4.0,179.0,222000,La Ferté-sous-Jouarre,77260.0,Professionnel,"Atypique maison briarde, logement à l'étage av..."
3,Appartement,3.0,70.0,475000,Bezons,95870.0,Professionnel,Appartement 3 pièces. appartement t3 récent de...
4,Maison,7.0,185.0,1200000,La Celle-Saint-Cloud,78170.0,Professionnel,Maison la celle saint cloud 7 pièce(s) 185 m2....

In [57]:
bdd_duplicates.dtypes

Bien            object
Pieces         float64
Taille         float64
Prix            object
Ville           object
Code_Postal    float64
Annonceur       object
Description     object
dtype: object

In [ ]:
##Convert columns to numeric dtype.
bdd_duplicates['Pieces'] = bdd_duplicates['Pieces'].astype('int')
bdd_duplicates['Code_Postal'] = bdd_duplicates['Code_Postal'].astype('int')

In [ ]:
bdd_duplicates['Prix'] = bdd_duplicates['Prix'].convert_dtypes()

In [ ]:
bdd_duplicates['Prix'] = pd.to_numeric(bdd_duplicates['Prix'], errors='coerce').convert_dtypes()

In [61]:
bdd_duplicates.dtypes

Bien            object
Pieces           int32
Taille         float64
Prix             Int64
Ville           object
Code_Postal      int32
Annonceur       object
Description     object
dtype: object

**DataFrame propre pour la Visualisation**

In [25]:
bdd_duplicates.to_csv('paruvendu_visu.csv')

**DataFrames propres for BDD**

_Table Bien_

In [26]:
bien_col = ['Pieces','Taille','Prix','Description']

In [27]:
bien_df = bdd_duplicates[bien_col]

In [28]:
bien_df.head()

   Pieces  Taille     Prix                                        Description
0       1    35.0   260000  Superbe studio spacieux et fonctionnel hyper c...
1       3    66.0   140000  Maison familiale 3 pièces avec cheminée. maiso...
2       4   179.0   222000  Atypique maison briarde, logement à l'étage av...
3       3    70.0   475000  Appartement 3 pièces. appartement t3 récent de...
4       7   185.0  1200000  Maison la celle saint cloud 7 pièce(s) 185 m2....

In [29]:
bien_df.to_csv('bien_bdd.csv')

_Table Localisation_

In [30]:
loc_col = ['Ville','Code_Postal']

In [31]:
loc_df = bdd_duplicates[loc_col]

In [32]:
loc_df.head()

                   Ville  Code_Postal
0            Alfortville        94140
1         Beton-Bazoches        77320
2  La Ferté-sous-Jouarre        77260
3                 Bezons        95870
4   La Celle-Saint-Cloud        78170

In [33]:
loc_df.to_csv('loc_bdd.csv')

_Table Annonceur_

In [34]:
ann_df = bdd_duplicates[["Annonceur"]]

In [35]:
ann_df.head()

       Annonceur
0  Professionnel
1  Professionnel
2  Professionnel
3  Professionnel
4  Professionnel

In [36]:
ann_df.to_csv('annonceur_bdd.csv')