In [1]:
import pandas as pd
import json

**Open csv**

In [2]:
movies = pd.read_csv("movies.csv")
comments = pd.read_csv("comments.csv")

In [3]:
movies.head()

,_id,awards.nominations,awards.text,awards.wins,cast,countries,directors,fullplot,genres,imdb.id,...,tomatoes.dvd,tomatoes.fresh,tomatoes.lastUpdated,tomatoes.production,tomatoes.rotten,tomatoes.viewer,tomatoes.website,type,writers,year
0,573a1390f29313caabcd4135,0,1 win.,1,"[""Charles Kayser"",""John Ott""]","[""USA""]","[""William K.L. Dickson""]",A stationary camera looks at a large anvil wit...,"[""Short""]",5,...,NaN,NaN,2015-06-28T18:34:09.000Z,NaN,NaN,NaN,NaN,movie,NaN,1893
1,573a1390f29313caabcd42e8,0,1 win.,1,"[""A.C. Abadie"",""Gilbert M. 'Broncho Billy' And...","[""USA""]","[""Edwin S. Porter""]",Among the earliest existing films in American ...,"[""Short"",""Western""]",439,...,NaN,6.0,2015-08-08T19:16:10.000Z,NaN,0.0,NaN,NaN,movie,NaN,1903
2,573a1390f29313caabcd4323,0,1 win.,1,"[""Martin Fuller"",""Mrs. William Bechtel"",""Walte...","[""USA""]","[""Harold M. Shaw""]","Thanks to the Fresh Air Fund, a slum child esc...","[""Short"",""Drama"",""Fantasy""]",488,...,NaN,NaN,2015-04-27T19:06:35.000Z,NaN,NaN,NaN,NaN,movie,"[""Dorothy G. Shore""]",1912
3,573a1390f29313caabcd446f,0,1 win.,1,"[""Frank Powell"",""Grace Henderson"",""James Kirkw...","[""USA""]","[""D.W. Griffith""]","A greedy tycoon decides, on a whim, to corner ...","[""Short"",""Drama""]",832,...,NaN,NaN,2015-05-11T18:36:53.000Z,NaN,NaN,NaN,NaN,movie,NaN,1909
4,573a1390f29313caabcd4803,0,1 win.,1,"[""Winsor McCay""]","[""USA""]","[""Winsor McCay"",""J. Stuart Blackton""]",Cartoonist Winsor McCay agrees to create a lar...,"[""Animation"",""Short"",""Comedy""]",1737,...,NaN,NaN,2015-08-20T18:51:24.000Z,NaN,NaN,NaN,NaN,movie,"[""Winsor McCay (comic strip \""Little Nemo in S...",1911

In [4]:
comments.head()

,_id,date,email,movie_id,name,text
0,5a9427648b0beebeb69579e7,2002-08-18T04:56:07.000Z,mercedes_tyler@fakegmail.com,573a1390f29313caabcd4323,Mercedes Tyler,Eius veritatis vero facilis quaerat fuga tempo...
1,5a9427648b0beebeb69579f5,1975-01-21T00:31:22.000Z,john_bishop@fakegmail.com,573a1390f29313caabcd446f,John Bishop,Id error ab at molestias dolorum incidunt. Non...
2,5a9427648b0beebeb6957a21,1981-11-08T04:32:25.000Z,tom_wlaschiha@gameofthron.es,573a1390f29313caabcd516c,Jaqen H'ghar,Minima odit officiis minima nam. Aspernatur id...
3,5a9427648b0beebeb6957a22,1970-11-15T05:54:02.000Z,taylor_scott@fakegmail.com,573a1390f29313caabcd4eaf,Taylor Scott,Iure laboriosam quo et necessitatibus sed. Id ...
4,5a9427648b0beebeb6957a38,2012-11-26T11:00:57.000Z,gemma_whelan@gameofthron.es,573a1390f29313caabcd587d,Yara Greyjoy,Nobis incidunt ea tempore cupiditate sint. Ita...

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23530 entries, 0 to 23529
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   _id                   23530 non-null  object
 1   awards.nominations    23530 non-null  int64
 2   awards.text           23530 non-null  object
 3   awards.wins           23530 non-null  int64
 4   cast                  23140 non-null  object
 5   countries             23520 non-null  object
 6   directors             23265 non-null  object
 7   fullplot              21988 non-null  object
 8   genres                23414 non-null  object
 9   imdb.id               23530 non-null  int64
 10  imdb.rating           23469 non-null  float64
 11  imdb.votes            23468 non-null  float64
 12  languages             23270 non-null  object
 13  lastupdated           23530 non-null  object
 14  num_mflix_comments    23530 non-null  int64
 15  plot                  22364 non-null  object
 16  poster                20143 non-null  object
 17  rated                 13636 non-null  object
 18  released              23026 non-null  object
 19  runtime               23083 non-null  float64
 20  title                 23530 non-null  object
 21  tomatoes.consensus    5154 non-null   object
 22  tomatoes.critic       0 non-null      float64
 23  tomatoes.dvd          15006 non-null  object
 24  tomatoes.fresh        12014 non-null  float64
 25  tomatoes.lastUpdated  20579 non-null  object
 26  tomatoes.production   14480 non-null  object
 27  tomatoes.rotten       12014 non-null  float64
 28  tomatoes.viewer       0 non-null      float64
 29  tomatoes.website      7251 non-null   object
 30  type                  23530 non-null  object
 31  writers               22265 non-null  object
 32  year                  23530 non-null  object
dtypes: float64(7), int64(4), object(22)
memory usage: 5.9+ MB

In [6]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41081 entries, 0 to 41080
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       41081 non-null  object
 1   date      41081 non-null  object
 2   email     41081 non-null  object
 3   movie_id  41081 non-null  object
 4   name      41081 non-null  object
 5   text      41081 non-null  object
dtypes: object(6)
memory usage: 1.9+ MB

Le dataset comments ne comporte pas d'information utile pour ce projet donc il ne sera pas utilisÃ©

In [7]:
#colonnes du dataset movies
list(movies.columns.values.tolist())

['_id',
 'awards.nominations',
 'awards.text',
 'awards.wins',
 'cast',
 'countries',
 'directors',
 'fullplot',
 'genres',
 'imdb.id',
 'imdb.rating',
 'imdb.votes',
 'languages',
 'lastupdated',
 'num_mflix_comments',
 'plot',
 'poster',
 'rated',
 'released',
 'runtime',
 'title',
 'tomatoes.consensus',
 'tomatoes.critic',
 'tomatoes.dvd',
 'tomatoes.fresh',
 'tomatoes.lastUpdated',
 'tomatoes.production',
 'tomatoes.rotten',
 'tomatoes.viewer',
 'tomatoes.website',
 'type',
 'writers',
 'year']

**VÃ©rification des colonnes pertinentes pour l'analyse**

In [8]:
# verification des colonnes awards
awards = movies[["awards.nominations","awards.text","awards.wins"]]

In [9]:
awards.tail()

       awards.nominations     awards.text  awards.wins
23525                   2  2 nominations.            0
23526                   1   1 nomination.            0
23527                   1   1 nomination.            0
23528                   1   1 nomination.            0
23529                   1   1 nomination.            0

In [10]:
# verification des colonnes imdb
imdb = movies[["imdb.id","imdb.rating","imdb.votes"]]

In [11]:
imdb.head()

   imdb.id  imdb.rating  imdb.votes
0        5          6.2      1189.0
1      439          7.4      9847.0
2      488          7.1       448.0
3      832          6.6      1375.0
4     1737          7.3      1034.0

In [12]:
# verification des colonnes tomatoes
tomatoes = movies[["tomatoes.consensus","tomatoes.critic","tomatoes.dvd","tomatoes.fresh","tomatoes.lastUpdated",\
                   "tomatoes.production","tomatoes.rotten","tomatoes.viewer","tomatoes.website"]]

In [13]:
tomatoes.head()

,tomatoes.consensus,tomatoes.critic,tomatoes.dvd,tomatoes.fresh,tomatoes.lastUpdated,tomatoes.production,tomatoes.rotten,tomatoes.viewer,tomatoes.website
0,NaN,NaN,NaN,NaN,2015-06-28T18:34:09.000Z,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,6.0,2015-08-08T19:16:10.000Z,NaN,0.0,NaN,NaN
2,NaN,NaN,NaN,NaN,2015-04-27T19:06:35.000Z,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2015-05-11T18:36:53.000Z,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,2015-08-20T18:51:24.000Z,NaN,NaN,NaN,NaN

In [14]:
df_movies = movies[["cast","countries","directors","fullplot","genres","title","type","writers","year"]]

In [15]:
df_movies.head()

,cast,countries,directors,fullplot,genres,title,type,writers,year
0,"[""Charles Kayser"",""John Ott""]","[""USA""]","[""William K.L. Dickson""]",A stationary camera looks at a large anvil wit...,"[""Short""]",Blacksmith Scene,movie,NaN,1893
1,"[""A.C. Abadie"",""Gilbert M. 'Broncho Billy' And...","[""USA""]","[""Edwin S. Porter""]",Among the earliest existing films in American ...,"[""Short"",""Western""]",The Great Train Robbery,movie,NaN,1903
2,"[""Martin Fuller"",""Mrs. William Bechtel"",""Walte...","[""USA""]","[""Harold M. Shaw""]","Thanks to the Fresh Air Fund, a slum child esc...","[""Short"",""Drama"",""Fantasy""]",The Land Beyond the Sunset,movie,"[""Dorothy G. Shore""]",1912
3,"[""Frank Powell"",""Grace Henderson"",""James Kirkw...","[""USA""]","[""D.W. Griffith""]","A greedy tycoon decides, on a whim, to corner ...","[""Short"",""Drama""]",A Corner in Wheat,movie,NaN,1909
4,"[""Winsor McCay""]","[""USA""]","[""Winsor McCay"",""J. Stuart Blackton""]",Cartoonist Winsor McCay agrees to create a lar...,"[""Animation"",""Short"",""Comedy""]","Winsor McCay, the Famous Cartoonist of the N.Y...",movie,"[""Winsor McCay (comic strip \""Little Nemo in S...",1911

In [16]:
#verification du contenu d'autres colonnes
others = movies[["fullplot","plot","genres","languages","lastupdated","num_mflix_comments","poster"]]

In [17]:
others.head()

,fullplot,plot,genres,languages,lastupdated,num_mflix_comments,poster
0,A stationary camera looks at a large anvil wit...,Three men hammer on an anvil and pass a bottle...,"[""Short""]",NaN,2015-08-26 00:03:50.133000000,0,NaN
1,Among the earliest existing films in American ...,A group of bandits stage a brazen train hold-u...,"[""Short"",""Western""]","[""English""]",2015-08-13 00:27:59.177000000,0,https://m.media-amazon.com/images/M/MV5BMTU3Nj...
2,"Thanks to the Fresh Air Fund, a slum child esc...","A young boy, opressed by his mother, goes on a...","[""Short"",""Drama"",""Fantasy""]","[""English""]",2015-08-29 00:27:45.437000000,1,https://m.media-amazon.com/images/M/MV5BMTMzMD...
3,"A greedy tycoon decides, on a whim, to corner ...","A greedy tycoon decides, on a whim, to corner ...","[""Short"",""Drama""]","[""English""]",2015-08-13 00:46:30.660000000,1,NaN
4,Cartoonist Winsor McCay agrees to create a lar...,"Cartoon figures announce, via comic strip ball...","[""Animation"",""Short"",""Comedy""]","[""English""]",2015-08-29 01:09:03.030000000,0,https://m.media-amazon.com/images/M/MV5BYzg2Nj...

In [18]:
others2 = movies[["rated","released","runtime","title","type","writers","year"]]

In [19]:
others2.head()

,rated,released,runtime,title,type,writers,year
0,UNRATED,1893-05-09T00:00:00.000Z,1.0,Blacksmith Scene,movie,NaN,1893
1,TV-G,1903-12-01T00:00:00.000Z,11.0,The Great Train Robbery,movie,NaN,1903
2,UNRATED,1912-10-28T00:00:00.000Z,14.0,The Land Beyond the Sunset,movie,"[""Dorothy G. Shore""]",1912
3,G,1909-12-13T00:00:00.000Z,14.0,A Corner in Wheat,movie,NaN,1909
4,NaN,1911-04-08T00:00:00.000Z,7.0,"Winsor McCay, the Famous Cartoonist of the N.Y...",movie,"[""Winsor McCay (comic strip \""Little Nemo in S...",1911

Les colonnes qui paraissent plus intÃ©ressantes, dans un premier moment, pour les analyses suivantes: awards.nominations, imdb.rating, imdb.votes, cast, countries,directors, fullplot, genres, title, writers, year, fullplot, plot, languages, titles, writers

**Nouveau dataset pour l'entraÃ®nement du modÃ¨le de similaritÃ©**

In [20]:
df_movies = movies[["awards.nominations","imdb.rating","imdb.votes","cast","countries","directors","fullplot","genres","title","writers",\
                    "year","fullplot","plot","languages","writers"]]

In [21]:
df_movies.head()

,awards.nominations,imdb.rating,imdb.votes,cast,countries,directors,fullplot,genres,title,writers,year,fullplot,plot,languages,writers
0,0,6.2,1189.0,"[""Charles Kayser"",""John Ott""]","[""USA""]","[""William K.L. Dickson""]",A stationary camera looks at a large anvil wit...,"[""Short""]",Blacksmith Scene,NaN,1893,A stationary camera looks at a large anvil wit...,Three men hammer on an anvil and pass a bottle...,NaN,NaN
1,0,7.4,9847.0,"[""A.C. Abadie"",""Gilbert M. 'Broncho Billy' And...","[""USA""]","[""Edwin S. Porter""]",Among the earliest existing films in American ...,"[""Short"",""Western""]",The Great Train Robbery,NaN,1903,Among the earliest existing films in American ...,A group of bandits stage a brazen train hold-u...,"[""English""]",NaN
2,0,7.1,448.0,"[""Martin Fuller"",""Mrs. William Bechtel"",""Walte...","[""USA""]","[""Harold M. Shaw""]","Thanks to the Fresh Air Fund, a slum child esc...","[""Short"",""Drama"",""Fantasy""]",The Land Beyond the Sunset,"[""Dorothy G. Shore""]",1912,"Thanks to the Fresh Air Fund, a slum child esc...","A young boy, opressed by his mother, goes on a...","[""English""]","[""Dorothy G. Shore""]"
3,0,6.6,1375.0,"[""Frank Powell"",""Grace Henderson"",""James Kirkw...","[""USA""]","[""D.W. Griffith""]","A greedy tycoon decides, on a whim, to corner ...","[""Short"",""Drama""]",A Corner in Wheat,NaN,1909,"A greedy tycoon decides, on a whim, to corner ...","A greedy tycoon decides, on a whim, to corner ...","[""English""]",NaN
4,0,7.3,1034.0,"[""Winsor McCay""]","[""USA""]","[""Winsor McCay"",""J. Stuart Blackton""]",Cartoonist Winsor McCay agrees to create a lar...,"[""Animation"",""Short"",""Comedy""]","Winsor McCay, the Famous Cartoonist of the N.Y...","[""Winsor McCay (comic strip \""Little Nemo in S...",1911,Cartoonist Winsor McCay agrees to create a lar...,"Cartoon figures announce, via comic strip ball...","[""English""]","[""Winsor McCay (comic strip \""Little Nemo in S..."

In [22]:
all_movies = df_movies[["cast","directors","fullplot","genres","title","plot"]]

In [23]:
all_movies.to_csv("all_movies.csv")